<div class="row">

	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Sign up</h2>
			</div>

			<div class="panel-body">

				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="form-group">
				  	<%= f.label :email %>
				  	<%= f.email_field :email, autofocus: true, class: "form-control" %>
					</div>

				  <div class="form-group">
				  	<%= f.label :password %>
				  	<%= f.password_field :password, class: "form-control" %>
				  </div>

				  <div class="form-group">
				  	<%= f.label :password_confirmation %>
				  	<%= f.password_field :password_confirmation, class: "form-control" %>
				  </div>

				  <div><%= f.submit "Sign up", class: "btn btn-primary" %></div>
				<% end %>
			</div> <!-- panel-body -->

			<div class="panel-heading">
				<%= render "devise/shared/links" %>
			</div>
		</div> <!-- panel panel-default -->
	</div> <!-- col-md-8 -->

	<div class="col-sm-4">

		<div class="panel panel-default">

			<div class="panel-heading">
				<h2>Hatch an egg today!</h2>
			</div>

			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6">
						<img src="/assets/hatchingegg.png" alt="" class="img-responsive">
					</div>
					<div class="col-xs-6">
						<p>Incubators goal is to bring great minds together and help them make something awesome.</p>
					</div>
				</div> <!-- row -->
			</div> <!-- panel-body -->
		</div> <!-- panel panel-default -->

		<div class="panel panel-default">
			<div class="panel-heading">
				<div>
					<h4>Share with your friends!</h4>
				</div>
			</div>
			<div class="panel-body">
				<a href="https://www.facebook.com/"><img src="/assets/32-facebook.png" alt="" class="img">
				<a href="https://twitter.com/"><img src="/assets/32-twitter.png" alt="" class="img">
				<a href="https://www.linkedin.com/"><img src="/assets/32-linkedin.png" alt="" class="img">
				<a href="https://plus.google.com/"><img src="/assets/32-googleplus.png" alt="" class="img">
				<a href="https://www.tumblr.com/"><img src="/assets/32-tumblr.png" alt="" class="img">
				<a href="https://www.rss.com/"><img src="/assets/32-rss.png" alt="" class="img">
			</div> <!-- panel-body -->
		</div> <!-- panel panel-default -->
	</div> <!-- col-md-4 -->
</div> <!-- row -->