<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Sign in</h2>
			</div>

			<div class="panel-body">
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					<div class="form-group">
					  <%= f.label :email %><br />
					  <%= f.email_field :email, autofocus: true, class: "form-control" %>
					</div>

				  <div class="form-group">
				  	<%= f.label :password %><br />
				  	<%= f.password_field :password, class: "form-control" %>
				  </div>

				  <% if devise_mapping.rememberable? -%>
				    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
				  <% end -%>

				  <div><%= f.submit "Sign in", class: "btn btn-primary" %></div>
				<% end %>
			</div>

			<div class="panel-heading">
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>

	<div class="col-sm-4">

		<div class="panel panel-default">

			<div class="panel-heading">
				<h2>Start creating today</h2>
			</div>

			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6">
						<%= image_tag("hatchingegg.png", :class => "img-responsive") %>
					</div>
					<div class="col-xs-6">
						<p>Incubators goal is to bring great minds together and help them make something awesome.</p>
					</div>
				</div> <!-- row -->
			</div> <!-- panel-body -->
		</div> <!-- panel panel-default -->

		<div class="panel panel-default">
			<div class="panel-heading">
				<div>
					<h4>Share with your friends!</h4>
				</div>
			</div>
			<div class="panel-body">
				<a href="https://www.facebook.com/"><%= image_tag("32-facebook.png", :alt => "rss feed") %>
				<a href="https://twitter.com/"><%= image_tag("32-twitter.png", :alt => "rss feed") %>
				<a href="https://www.linkedin.com/"><%= image_tag("32-linkedin.png", :alt => "rss feed") %>
				<a href="https://plus.google.com/"><%= image_tag("32-googleplus.png", :alt => "rss feed") %>
				<a href="https://www.tumblr.com/"><%= image_tag("32-tumblr.png", :alt => "rss feed") %>
				<a href="https://www.rss.com/"><%= image_tag("32-rss.png", :alt => "rss feed") %>
			</div> <!-- panel-body -->
		</div> <!-- panel panel-default -->
	</div> <!-- col-md-4 -->
</div>